<ion-view title="{{board.title}}">

  <ion-content class="has-header" has-bouncing="false" padding="true">

    <div class="centered" id="swipeArea">

        <div class="medium-margin-top grey-text">

            <div id="cardHolder" class="if-card if-card-centered if-session-card if-generate-card">
                <form ng-submit="startSendingCard()">
                    <textarea id="entryCard" ng-model="newCard.content" ng-keydown="entryCardKeyPress($event)" class="full-screen-card-heading" ng-model="cardContent" placeholder="Click here to enter an idea and then swipe it up to submit it" style="border-style: none; width: 95%; overflow: hidden; height: 90%; min-height: 150px; outline-style: none !important; cursor: pointer !important;"></textarea>
                </form>
            </div>

        </div>

        <div class="medium-margin-top">
            <img src="img/ideafunnel_big.png" style="width: 100px;"/>
        </div>

        <div class="hand-demo" id="handDemo" ng-show="showDemo">
            <img src="img/hand.png" class="hand-img">
        </div>


    </div>

  </ion-content>




</ion-view>

